html, body, #app{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Epilogue', sans-serif;
    background: #9e9e9e36;
}

button{
    cursor: pointer;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear{
    border: none;
    background-color: transparent;
}

.nav-link{
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Epilogue', sans-serif;
    text-decoration: underline;
    text-decoration-style: wavy;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: inherit;
}

.nav li{
    margin-right: 10px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}

.space-btw{
    justify-content: space-between;
}

.header-lg{
    font-size: 2em;
    font-weight: 500;
    margin: 20px;
}

.header-sm {
    font-size: 1em;
    font-weight: 300;
    margin: 10px;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 100%g;
    margin: 0 auto;
    display: block;
}

.center-text{
    text-align: center;
}

.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card-list{
    margin: 20px 0;
    align-items: center;
    margin:10px;
}

.card-list svg{
    margin-right: 10px;
}

.card-list a{
    font-weight: 500;
    color: inherit;
}

.bg-light{
    background:whitesmoke;
    border-radius: 10px;
}
.bg-dark{
    background: rgb(36, 40, 42);
    border-radius: 10px;
}
.card{
    margin: 10px 0;
    width: 250px;
    padding: 20px;
}

.card:hover{
    cursor: pointer;
}

.card a{
    text-decoration: none;
}

.card:hover img{
    /* clip-path: circle(75%) ; */
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
    filter: grayscale(0%) opacity(0.96);
}

.card img{
    margin-bottom: 10px;
    filter: grayscale(100%) opacity(0.3);
    clip-path: polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%);
    /* clip-path: circle(30%); */
    transition: clip-path 0.8s ease, filter 1s ease-out;
}

.instructions-container{
    margin: 100px 0;
}

.container-sm{
    width: 80%;
    margin: 0 auto;
}

.battle-instructions{
    padding: 0;
    font-size: 25px;
}

.battle-instructions li{
    flex: 1;
    min-width: 300px;
}

.battle-instructions svg {
    padding: 40px;
    border-radius: 10px;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.player{
    flex: 1;
    margin: 0 20px;
    padding: 10px;
}

.player-label{
    font-size: 1.2em;
    margin: 5px 0;
    font-weight: 300;;
}

.player-inputs input{
    padding: 8px;
    font-size: 1em;
    flex: 2;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light{
    background: rgba(0, 0, 0 , 0.02);
}
.player-inputs .input-dark{
    color: #dadada;
    background: rgba(0, 0, 0 , 0.03);
}

.player-inputs button {
    flex: 1;
    margin-left: 10px;
}

.light-btn{
    color: #000;
    background: #aaa8a8;
}

.light-btn:disabled{
    background: #292929;
    color: #4a4a4a;
}

.btn{
    border-radius: 6px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 200px;
}

.btn-dark{
    color: #e6e6e6;
    background: #141414;
}

.btn-dark:disabled{
    color: #c7c7c7;
    background: #f2f2f2;
}
.btn-space{
    margin: 40px auto;
}
.player-container{
    margin: 100px 0;
}

.avatar-small{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.player-info{
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1em;
    padding: 10px;
}

.player-info .link{
    margin-left: 10px;
}

.error{
    color: #ff1616;
    font-size: 1.2em;
    margin: 15px 0;
}

.dark{
    color: #dadada;
    background: #1c2022;
    min-height: 100%;
}

